<!DOCTYPE html>
<html>
    <head> 
        <%- include('./partials/head') %> 
    </head>
    <body>
        <section class="container-fluid">
	        <div class="row">
		        <div class="col-md-12">
                    <h1>Annachi Online</h1>
		        </div>
	        </div>
            <div class="row">
                <div class="col-md-12">
                   <h3>Hi <%= username %>,</h3> 
               </div>
            </div>
            <div class="row">
                <h4>You have requested for resetting password. Here is the link.</h4>
            </div>
            <div class="row">
                <a href="<%= resetLink %>" role="link">Reset Link</a>
            </div>
        </div>
    </body>
</html>